# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [5]:
markdown_cell = """
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
"""

print(markdown_cell)

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

In [6]:
markdown_cell_content = """
Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib
"""
print(markdown_cell_content)

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib

In [9]:
markdown_cell_content = """
| Data Science Tools|
|-------------------|
| Jupyter Notebooks |
| RStudio           |
| Spyder            |
"""
print(markdown_cell_content)

| Data Science Tools|
|-------------------|
| Jupyter Notebooks |
| RStudio           |
| Spyder            |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [17]:
a = 5
b = 3
result = a + b
print(f"Addition: {a} + {b} = {result}")

Addition: 5 + 3 = 8

# This is a simple arithmetic expression to multiply then add integers.

In [ ]:
result = (3 * 4) + 5
print(result)

17

# This will convert 200 minutes to hours by dividing by 60.

In [20]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335


**Objectives:**

- List popular languages for Data Science.
- Explain basic data visualization techniques.
- Introduce machine learning concepts.

## Author
Stetsenko K